<h1>タスク内容一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>タスク名</th>
    <th>タスクの詳細</th>
    <th><%= link_to '終了期限', tasks_path(sort_expired: "true") %></th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= l task.created_at, format: :short %></td>
      
      <td><%= link_to '詳細', task_path(task.id) %></td>
      <td><%= link_to '編集する', edit_task_path(task.id) %></td>
      <td><%= link_to '削除する', task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
  <% end %>
  </table>
  
  <br>
  
  <%= link_to '新しくタスクを登録する', new_task_path %>
